#Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

# Importing All CSV files from June 2021 to May 2022

In [11]:
Jun_2021 = pd.read_csv("C:/Users/simon/Documents/csv files/202106-divvy-tripdata.csv")
Jul_2021 = pd.read_csv("C:/Users/simon/Documents/csv files/202107-divvy-tripdata.csv")
Aug_2021 = pd.read_csv("C:/Users/simon/Documents/csv files/202108-divvy-tripdata.csv")
Sep_2021 = pd.read_csv("C:/Users/simon/Documents/csv files/202109-divvy-tripdata.csv")
Oct_2021 = pd.read_csv("C:/Users/simon/Documents/csv files/202110-divvy-tripdata.csv")
Nov_2021 = pd.read_csv("C:/Users/simon/Documents/csv files/202111-divvy-tripdata.csv")
Dec_2021 = pd.read_csv("C:/Users/simon/Documents/csv files/202112-divvy-tripdata.csv")
Jan_2022 = pd.read_csv("C:/Users/simon/Documents/csv files/202201-divvy-tripdata.csv")
Feb_2022 = pd.read_csv("C:/Users/simon/Documents/csv files/202202-divvy-tripdata.csv")
Mar_2022 = pd.read_csv("C:/Users/simon/Documents/csv files/202203-divvy-tripdata.csv")
Apr_2022 = pd.read_csv("C:/Users/simon/Documents/csv files/202204-divvy-tripdata.csv")
May_2022 = pd.read_csv("C:/Users/simon/Documents/csv files/202205-divvy-tripdata.csv")

# Cleaning data - Now Lets merge all files into a single

In [12]:
all_months = [Jun_2021,Jul_2021,Aug_2021,Sep_2021,Oct_2021,Nov_2021,Dec_2021,Jan_2022,Feb_2022,Mar_2022,Apr_2022,May_2022]
df = pd.concat(all_months)

In [13]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99FEC93BA843FB20,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.80,-87.60,member
1,06048DCFC8520CAF,electric_bike,2021-06-04 11:18:02,2021-06-04 11:24:19,NaN,NaN,NaN,NaN,41.790000,-87.590000,41.80,-87.60,member
2,9598066F68045DF2,electric_bike,2021-06-04 09:49:35,2021-06-04 09:55:34,NaN,NaN,NaN,NaN,41.800000,-87.600000,41.79,-87.59,member
3,B03C0FE48C412214,electric_bike,2021-06-03 19:56:05,2021-06-03 20:21:55,NaN,NaN,NaN,NaN,41.780000,-87.580000,41.80,-87.60,member
4,B9EEA89F8FEE73B7,electric_bike,2021-06-04 14:05:51,2021-06-04 14:09:59,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.79,-87.59,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
634853,8891BA0053ECEC4F,electric_bike,2022-05-27 22:00:02,2022-05-27 22:07:01,Clark St & Newport St,632,NaN,NaN,41.944557,-87.654830,41.92,-87.65,member
634854,47D8B5FBCADECFC1,electric_bike,2022-05-15 16:05:39,2022-05-15 16:44:12,Clark St & Newport St,632,NaN,NaN,41.944479,-87.654758,41.92,-87.76,member
634855,AA8D16CF38B40703,electric_bike,2022-05-21 10:10:13,2022-05-21 10:26:09,Francisco Ave & Bloomingdale Ave,429,NaN,NaN,41.910000,-87.700000,41.92,-87.66,casual
634856,897EBFD44F329E0A,electric_bike,2022-05-12 07:53:58,2022-05-12 08:01:18,Francisco Ave & Bloomingdale Ave,429,NaN,NaN,41.910000,-87.700000,41.90,-87.69,member
634857,AAC23AB89E8A7733,electric_bike,2022-05-11 21:14:28,2022-05-11 21:18:16,Clark St & Newport St,632,NaN,NaN,41.944567,-87.654802,41.94,-87.65,member

#let see what dataframe information we have

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5860776 entries, 0 to 634857
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 626.0+ MB

#Change data type of "start_time & end_time" to datetime data type

In [16]:
df["start_time"] = pd.to_datetime(df["started_at"])
df["end_time"] = pd.to_datetime(df["ended_at"])

#Preview of data type changes

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5860776 entries, 0 to 634857
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  start_time          datetime64[ns]
 14  end_time            datetime64[ns]
 15  ride_length         timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), object(9), timedelta64[ns](1)
memory usage: 760.1+ MB

#Calculate time traveled(ended_at minus started_at) by adding new column "Ride_Length"

In [17]:
df["ride_length"] = df["end_time"] - df["start_time"]

In [18]:
df["ride_length"]

0        0 days 00:02:43
1        0 days 00:06:17
2        0 days 00:05:59
3        0 days 00:25:50
4        0 days 00:04:08
               ...
634853   0 days 00:06:59
634854   0 days 00:38:33
634855   0 days 00:15:56
634856   0 days 00:07:20
634857   0 days 00:03:48
Name: ride_length, Length: 5860776, dtype: timedelta64[ns]

#lets extract the date from "started_at" column by spliting it

In [21]:
df["start_date1"] = [i.split(" ")[0] for i in df["started_at"]]
df["start_date1"]

0         2021-06-13
1         2021-06-04
2         2021-06-04
3         2021-06-03
4         2021-06-04
             ...
634853    2022-05-27
634854    2022-05-15
634855    2022-05-21
634856    2022-05-12
634857    2022-05-11
Name: start_date1, Length: 5860776, dtype: object

#Change data type of start_date1 to datetime data type

In [74]:
df["start_date1"] = pd.to_datetime(df["start_date1"])

#creating weekday from dates

In [75]:
df["week_day"] = df["start_date1"].apply(lambda x: x.weekday())
df["week_day"].unique()

array([1, 3, 4, 5, 6, 0, 2], dtype=int64)

#Change weekday values into weekday

In [76]:
wk1 = {0: "Sunday", 1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"}
df["week_day"] = df["week_day"].apply(lambda y: wk1[y])
df["week_day"]

75131     Monday
24395     Monday
5026      Monday
5027      Monday
71374     Monday
           ...
414270    Monday
506068    Monday
16137     Monday
606339    Monday
58296     Monday
Name: week_day, Length: 5860776, dtype: object

#sorting dataframe by start date in ascending order

In [77]:
df.sort_values(by = ['started_at'], inplace = True, ascending = True)

#now lets drop all rows with NAN Values

In [78]:
df.cleaned = df.dropna()

In [36]:
#lets save our cleaned data for further transformation and analysis

In [ ]:
df.cleaned.to_csv("cleaned.csv")

#importing the cleaned data

In [ ]:
cleaned_data = pd.read_csv('cleaned.csv')

#lets view our cleaned data

In [ ]:
cleaned_data

#now calculate Euclidean distance between start_lat & end_lat points & start_lng & end_lng points

In [ ]:
cleaned_data["x"] = (cleaned_data['end_lat'] - cleaned_data['start_lat'])**2
cleaned_data["y"] = (cleaned_data['end_lng'] - cleaned_data['start_lng'])**2
cleaned_data["distance"] = (cleaned_data["x"] + cleaned_data["y"])**(1/2)
cleaned_data["distance"]

#Lets extract year & month from start date column

In [42]:
cleaned_data['year'] = pd.DatetimeIndex(cleaned_data['start_date1']).year
cleaned_data['month'] = pd.DatetimeIndex(cleaned_data['start_date1']).month

#lets convert object data type to timedelta

In [43]:
cleaned_data['ride_len'] = pd.to_timedelta(cleaned_data['ride_length'])

#lets view our more transformed data

In [ ]:
cleaned_data

#we can also check to see if any null values still exist by doing the below

In [45]:
cleaned_data.isnull().sum()

Unnamed: 0            0
ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
start_time            0
end_time              0
ride_length           0
start_date1           0
week_day              0
x                     0
y                     0
distance              0
year                  0
month                 0
ride_len              0
dtype: int64

#Further checks to see if any duplicates exist

In [47]:
cleaned_data.duplicated().any()

False

# Analyzing data

#For all ride users, find the mean ride length (MRL)

In [69]:
mean_ride_length = cleaned_data['ride_len'].mean()
mean_ride_length

Timedelta('0 days 00:20:12.844583558')

#For all ride users, find the max ride length

In [70]:
max_ride_length = cleaned_data['ride_len'].max()
max_ride_length

Timedelta('38 days 20:24:09')

#lets find the mean ride_length for members

In [71]:
mean_ride_length_member = cleaned_data[cleaned_data['member_casual'] =='member']
mean_ride_length_member = mean_ride_length_member['ride_len'].mean()
mean_ride_length_member

Timedelta('0 days 00:12:40.530618194')

#calculate mean ride for casual riders

In [72]:
mean_ride_length_casual = cleaned_data[cleaned_data['member_casual'] == 'casual']
mean_ride_length_casual = mean_ride_length_casual['ride_len'].mean()
mean_ride_length_casual

Timedelta('0 days 00:30:06.018938874')

#lets find the max ride_length for members

In [73]:
max_ride_length_member = cleaned_data[cleaned_data['member_casual'] =='member']
max_ride_length_member = max_ride_length_member['ride_len'].max()
max_ride_length_member

Timedelta('1 days 00:55:38')

#lets find the max ride_length for casual_riders

In [68]:
max_ride_length_casual = cleaned_data[cleaned_data['member_casual'] == 'casual']
max_ride_length_casual = max_ride_length_casual['ride_len'].max()
max_ride_length_casual

Timedelta('38 days 20:24:09')